@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  outline: none;

}
.box {
  width: 70%;
  margin: 30px auto;
  padding: 10px;
  /* text-align: center; */
  /* font-weight: 900; */
  /* color: #fff; */
  font-family: arial;
  position: relative;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}
.sb1{
  background: #0963ff;
  color: #fff;

}
.sb2{
  background: #fff;
  color:#000 ;
}
.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

/* ::-webkit-scrollbar {
  background-color: #000;
  width: 12px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));} */

  ::-webkit-scrollbar {
    width: 12px;
    height: 30px;
}

::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    background-color: #060b9a;
}